# macOS
.DS_Store
.AppleDouble

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Data, models, results
data/
!data/.gitkeep
models/
!models/.gitkeep
figures/
!figures/.gitkeep

# Jupyter
.ipynb_checkpoints/
*.ipynb

# IDEs
.vscode/
.idea/